.App {
  text-align: center;
}
h1 {
  text-align: center;
}
h2.warning {
  color: tomato;
  background-color: yellow;
}
.divinha {
  margin: 0 auto;
  max-width: 90%;
}
.App {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 3rem;
}
div.top {
  display: flex;
  justify-content: space-around;
}
h2.warning {
  text-align: center;
}